* {
    color: white;
    font-weight: 500;
    font-family: "Noto Sans CJK JP", "Noto Sans", "ヒラギノ明朝 ProN",
        "Hiragino Mincho Pro", "serif";
}

body {
    background-image: url("../img/half_transparent.png");
}

li {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    opacity: 0;
}

ul {
    list-style: none;
    width: 400px;
    font-size: 32px;
    padding: 0;
    margin: 0;
}

h4 {
    display: inline;
    color: #7a96b4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: fade;
    font-weight: inherit;
    margin: 0;
    margin-top: 2px;
    padding-top: 2px;
    padding-right: 16px;
}

img {
    margin-bottom: -3px;
    height: inherit;
}

p {
    display: inline;
    margin: 0;
}

#black_gradient {
    width: 100%;
    height: 50px;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(122, 150, 180, 0) 100%
    );
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

.show {
    opacity: 1;
    transition: opacity 400ms;
}

.hide {
    opacity: 0;
    transition: opacity 400ms;
}

.aBitSmaller {
    width: 40px;
}
